<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icon_speakpedia_finals"
        android:label="speakpediaforfinals"
        android:roundIcon="@drawable/icon_speakpedia_finals"
        android:supportsRtl="true"
        android:theme="@style/Theme.SpeakPediaforFinals"
        tools:targetApi="31">

        <!-- Define your main activity, which is typically the entry point of your app -->
        <activity android:name="com.example.speakpediaforfinals.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

       <activity android:name=".SettingsActivity"/>
        <activity android:name=".SplashActivity"/>
        <activity android:name=".TranslatorActivity"/>
        <activity android:name=".ThemeActivity"/>
        <activity android:name=".AboutUsActivity"/>
        <activity android:name=".GameActivity"/>
        <activity android:name=".MainGameActivity"/>
        <activity android:name=".Text_to_speech"/>

        <!-- Other activities and components can be declared here -->

    </application>
</manifest>
